RewriteEngine On
RewriteCond %{REQUEST_URI} \.php$
RewriteCond %{REQUEST_URI} !/index\.php$
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

# Redirige todas las demás solicitudes que no sean archivos existentes a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]